@font-face {
	font-family: despicableme;
	src: url("../Font/lasvegas-jackpot.ttf");
}

.jumbotron {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  min-height: 400px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 96px;
  font-family: despicableme;
  letter-spacing: 4px;
  color: #f07214;
  font-weight: bold;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.jumbotron h2 {
  font-family: despicableme;
  text-shadow:
		-1px -1px 0 #fff,
		1px -1px 0 #fff,
		-1px 1px 0 #fff,
		1px 1px 0 #fff;
}